section{
	width: 100%;
}
section div{
	width: 95%;
	margin: 0 auto;
}
section div h2{
	font-size: 18px;
	color: #ccc;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px dashed #8a8e8c;
}
section div .survey{
	width: 100%;
	display: flex;
	justify-content: space-around;
	margin-top: 20px;
}
section div .survey li{
	width: 40%;
	text-align: center;
	height: 80px;
	line-height: 80px;
}
section div .survey li:first-of-type{
	background-image: url(../images/xygk_02.jpg);
	background-repeat:no-repeat ;
	background-position: center top;
}
section div .survey li:nth-of-type(2){
	background-image: url(../images/xygk_06.jpg);
	background-repeat:no-repeat ;
	background-position: center top;
}
section div .survey li a{
	display: block;
	width: 100%;
	height: 100%;
	padding-top: 15px;
	box-sizing: border-box;
	font-size: 16px;
	color: #000;
}




section div .curriculum{
	width: 100%;
	display: flex;
	justify-content: space-around;
	margin-top: 20px;
	flex-wrap: wrap;
}
section div .curriculum li{
	width: 40%;
	text-align: center;
	height: 80px;
	line-height: 80px;
}
section div .curriculum li:first-of-type{
	background-image: url(../images/left_link_02.jpg);
	background-repeat:no-repeat ;
	background-position: center top;
}
section div .curriculum li:nth-of-type(2){
	background-image: url(../images/left_link_06.jpg);
	background-repeat:no-repeat ;
	background-position: center top;
}
section div .curriculum li:nth-of-type(3){
	background-image: url(../images/left_link_08.jpg);
	background-repeat:no-repeat ;
	background-position: center top;
}
section div .curriculum li:nth-of-type(4){
	background-image: url(../images/left_link_10.jpg);
	background-repeat:no-repeat ;
	background-position: center top;
}
section div .curriculum li:nth-of-type(5){
	background-image: url(../images/left_link_12.jpg);
	background-repeat:no-repeat ;
	background-position: center top;
}
section div .curriculum li:nth-of-type(6){
	background-image: url(../images/left_link_14.jpg);
	background-repeat:no-repeat ;
	background-position: center top;
}
section div .curriculum li:nth-of-type(7){
	background-image: url(../images/left_link_16.jpg);
	background-repeat:no-repeat ;
	background-position: center top;
}
section div .curriculum li:nth-of-type(8){
	background-image: url(../images/left_link_18.jpg);
	background-repeat:no-repeat ;
	background-position: center top;
}
section div .curriculum li a{
	display: block;
	width: 100%;
	height: 100%;
	padding-top: 15px;
	box-sizing: border-box;
	font-size: 16px;
	color: #000;
}


section div .campus{
	width: 100%;
	display: flex;
	justify-content: space-around;
	margin-top: 20px;
	flex-wrap: wrap;
}
section div .campus li{
	width: 30%;
	text-align: center;
	height: 80px;
	line-height: 80px;
}
section div .campus li:first-of-type{
	background-image: url(../images/xsjx_1.gif);
	background-repeat:no-repeat ;
	background-position: center top;
}
section div .campus li:nth-of-type(2){
	background-image: url(../images/hy_1.gif);
	background-repeat:no-repeat ;
	background-position: center top;
}
section div .campus li:nth-of-type(3){
	background-image: url(../images/ydh_1.gif);
	background-repeat:no-repeat ;
	background-position: center top;
}
section div .campus li:nth-of-type(4){
	background-image: url(../images/dxs_.gif);
	background-repeat:no-repeat ;
	background-position: center top;
}
section div .campus li:nth-of-type(5){
	background-image: url(../images/hj_1.gif);
	background-repeat:no-repeat ;
	background-position: center top;
}
section div .campus li:nth-of-type(6){
	background-image: url(../images/sdwh_1.gif);
	background-repeat:no-repeat ;
	background-position: center top;
}
section div .campus li a{
	display: block;
	width: 100%;
	height: 100%;
	padding-top: 15px;
	box-sizing: border-box;
	font-size: 16px;
	color: #000;
}
section div .works{
	width: 100%;
	display: flex;
	margin-top: 20px;
	justify-content: space-between;
	flex-wrap: wrap;
}
section div .works li{
	width: 32%;
	text-align: center;
}
section div .works li img{
	width: 100%;
}
section div .service{
	width: 100%;
	display: flex;
	margin-top: 20px;
	justify-content: space-between;
	flex-wrap: wrap;
}
section div .service li{
	width: 40%;
	text-align: center;
	height: 80px;
	line-height: 80px;
}
section div .service li:first-of-type{
	background-image: url(../images/service_03.jpg);
	background-repeat:no-repeat ;
	background-position: center top;
}
section div .service li:nth-of-type(2){
	background-image: url(../images/service_05.jpg);
	background-repeat:no-repeat ;
	background-position: center top;
}
section div .service li:nth-of-type(3){
	background-image: url(../images/service_08.jpg);
	background-repeat:no-repeat ;
	background-position: center top;
}
section div .service li:nth-of-type(4){
	background-image: url(../images/service_10.jpg);
	background-repeat:no-repeat ;
	background-position: center top;
}
section div .service li a{
	display: block;
	width: 100%;
	height: 100%;
	padding-top: 15px;
	box-sizing: border-box;
	font-size: 16px;
	color: #000;
}
section div .other{
	width: 100%;
	display: flex;
	justify-content: space-around;
	margin-bottom: 20px;
	margin-top: 20px;
}
section div .other  a{
	display: block;
	width: 30%;
	height: 50px;
	line-height: 50px;
	background: #fd9c02;
	text-align: center;
	border-radius: 10px;
	font-size: 14px;
	color: #000;
}
