.wrapper_max{
	width: 100%;
	background: #FFFFFF;
	margin-top: 80px;
	margin-bottom: 70px;
}
.wrapper_max .wrapper{
	width: 96.6731%;
	max-width: 1000px;
	margin: 0 auto;
	padding-top: 42px;
}
.wrapper_max .wrapper ul{
	width: 26.7%;
	border-right: 1px solid #bababa;
	float: left;
	box-sizing: border-box;
}
.wrapper_max .wrapper ul li{
	width: 93.1818%;
	text-align: center;
	height: 75px;
	line-height: 75px;
	border-bottom: 4px solid #FFFFFF;
}
.wrapper_max .wrapper ul li:first-of-type{
	background: url(../images/xygk_02.jpg)no-repeat 21px center;
	border-bottom: 4px solid #FFFFFF;
}
.wrapper_max .wrapper ul li:first-of-type:hover{
	background: url(../images/xygk_03.jpg)no-repeat 21px center;
	border-bottom: 4px solid #fa9634;
}
.wrapper_max .wrapper ul li:last-of-type{
	background: url(../images/xygk_07.jpg)no-repeat 21px center;
	border-bottom: 4px solid #fa9634;
}
.wrapper_max .wrapper ul li:last-of-type:hover{
	background: url(../images/xygk_07.jpg)no-repeat 21px center;
	border-bottom: 4px solid #fa9634;
}
.wrapper_max .wrapper ul li a{
	font-size: 22px;
	color: #222222;
	display: block;
	width: 100%;
	height: 100%;
}
.wrapper_max .wrapper article{
	width: 73.3%;
	float: left;
	padding-left: 6.89655%;
	box-sizing: border-box;
}
.wrapper_max .wrapper article h3{
	font-size: 18px;
	color: #fa9634;
	height: 50px;
	line-height: 50px;
}
.wrapper_max .wrapper article p{
	font-size: 16px;
	color: #000000;
	line-height: 30px;
	text-indent: 32px;
}
.wrapper_max .wrapper article img{
	width: 100%;
}
